<html>

<head>
    <title>The Pictionary Game - Play with Friends</title>
    <link rel="stylesheet" href="/stylehome.css">
</head>

<body>
    <div class="container">
        <h1>The Pictionary Game - Play with Friends</h1>
        <div class="section">
            <h2>Create Room</h2>
            <form action="/room/create" method="post">
                <div style="text-align: left;" class = "labelforroomname"> &nbsp;Enter a Room Name:</div>
                <input type="text" id="room-id" name = "roomname" class="input-field" placeholder="Enter a Room Name" required>
                <div class="button-container">
                    <button class="button" id="create-room" type="submit" >Create Room</button>
                </div>
            </form>
        </div>
        <div class="section formore">
            <h2>Join Room</h2>
            <form action="/room/join" method = "post">
                <div style="text-align: left;" class = "labelforroomname"> &nbsp;Enter a Room Name:</div>
                <input type="text" id="join-room-id" name="roomname" class="input-field" placeholder="Enter a Room Name" required>
                <div class="button-container">
                    <button class="button" id="join-room" type="submit">Join Room</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/scripthome.js"></script>
</html>
