<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pictionary</title>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="room-to-join" style="display: none;"><%=roomNumber%></div>

    <div class="countdown-container">
        <div id="formakenone">
        <div class="countdown-text">
          <p>You have to <span id ="fordrawguess"></span></p>
          <p id="wordspara"></p>
        </div>
        <div class="countdown-timer">
          <p id="countdown">3</p>
        </div>
    </div>

    <div>
        <div class="winner-message" style="display: none;">
            <i class="fa fa-trophy"></i>
            <p>Congratulations! You are the winner!</p>
          </div>
          
        <div id = "learderboard" style="display: none;">
            <div class="tableFixHead">
              <table>
               <thead>
                    <tr>
                        <th class="rank">Rank</th>
                        <th class="username">Username</th>
                        <th class="score">Score</th>
                    </tr>
                </thead>
                <tbody id = "learderboardbody">
                    <tr>
                        <td class="rank">1</td>
                        <td class="username">User1</td>
                        <td class="score">1000</td>
                    </tr>
                    <tr>
                        <td class="rank">2</td>
                        <td class="username">User2</td>
                        <td class="score">950</td>
                    </tr>
                    <tr>
                        <td class="rank">3</td>
                        <td class="username">User3</td>
                        <td class="score">900</td>
                    </tr>
                   <tr>
                        <td class="rank">3</td>
                        <td class="username">User3</td>
                        <td class="score">900</td>
                    </tr>
                   <tr>
                        <td class="rank">3</td>
                        <td class="username">User3</td>
                        <td class="score">900</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div id="newstartbtn" style="text-align: center; margin-top: 20px; display: none;">
            <button style="width: 150px;" onclick="startthegame()">Start New Game</button>
            <form action="/start" method="get" style="display: inline;"><button type="submit"  style="width: 150px;" >Leave</button></form>
        </div>
    </div>
      </div>

    <div class="display2">

        <h1>Pictionary - Game</h1>

        <div id="room-list" class="rooms-container">
            <h2> Available Room</h2>
            <ul id="room-list-ul"></ul>
            <div class="available-rooms">
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
                <div class="rooms-div">
                    <li>room 1</li>
                </div>
            </div>

        </div>

        <div id="formoresome">

            <div class="main-container">

                <div class="connected-users">
                    <h2> Users </h2>
                    <div class="users">
                        <div class = "connecteduser">dabhi dipak</div>
                    </div>
                </div>
                <div>
                <div id="game-container" style="display: block;">

                    <div class = "drawguess">
                        <span> <span id  = "whotodraw" >Draw The Word :</span> <span id= "drawguessword" style="color: red;"> XX</span></span>
                        <span> Time Remain : <span id="remainingtime" style="color: red;"> XX</span></span>
                        <div id="drawinguser" style="color: red;"></div>
                    </div>

                    <canvas id="drawingCanvas" width="500px" height="305px"></canvas>
                    <div id = "drawing-tools">
                        <button class="tool" onclick="selectBrush()">Brush <i class="fa fa-paint-brush"></i></button>
                         <button class="tool" onclick="selectEraser()">Eraser <i class="fa fa-eraser" aria-hidden="true"></i></button>
                        <input type="color" id="colorPicker" onchange="changeColor(this.value)" value="#000000">
                        <button id="undoButton" class="undo-redo-button" onclick="undo()"> <i class="fas fa-undo"></i> Undo </button>
                         <button id="redoButton" class="undo-redo-button" onclick="redo()"> <i class="fas fa-redo"></i> Redo </button>
                         <button id ="clearcanva" onclick="clearCanvas()"> Clear</button>
                    </div>
                </div>
                <div  class = "availableoption">
                    <button onclick="startthegame()">Start</button>
                    <button onclick="copyToClipboard()">Room Name </button>
                    <form action="/start" method="get" style="display: inline;"><button type="submit">Leave</button></form>
                </div>
            </div>

                <div id="chat-container">
                    <h2> chat - messages </h2>
                    <div class="chats">
                        <div class="distance-chat chat-messages">message1 </div>
                        <div class="user-chat chat-messages">message2 </div>
                        <div class="distance-chat chat-messages">message3 </div>
                        <div class="distance-chat chat-messages">message4 </div>
                        <div class="distance-chat chat-messages">message5 </div>
                        <div class="user-chat chat-messages">message6 </div>
                        <div class="user-chat chat-messages">message7 </div>
                        <div class="user-chat chat-messages">message8 </div>
                        <div class="user-chat chat-messages">message9 </div>
                    </div>

                    <div id="turn-status"></div>

                    <hr style=" height: 2px; background:rgb(14, 65, 110); color: rgb(27, 97, 159); ">
                    <div class="forsent">
                        <input type="text" id="chat-input" placeholder="Type your message...">
                        <button onclick="sendMessage(event)">Send</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var roomtojoin = document.getElementById('room-to-join').innerHTML;
            roomtojoin = roomtojoin.toString();
            console.log("Room Number:", roomtojoin);
            wanttojoin(roomtojoin);
        });
        </script>
        
        <script src="/script.js"></script>

    <script>
        window.addEventListener('resize', function () {
            adjustCanvasWidth();
        });

        function adjustCanvasWidth() {

            var canvas = document.getElementById('drawingCanvas');
            let context = canvas.getContext('2d');
            let snapshot = context.getImageData(0, 0, canvas.width, canvas.height);
            var gameContainer = document.getElementById('game-container');
            var canvasWidthPercentage = 90;
            var gameContainerWidth = gameContainer.offsetWidth;
            var newCanvasWidth = (canvasWidthPercentage / 100) * gameContainerWidth;

            canvas.width = newCanvasWidth;
            canvas.hieght = newCanvasWidth;
            
            context = canvas.getContext('2d');
            context.putImageData(snapshot, 0, 0);

        }
        adjustCanvasWidth();
        
    </script>

</body>

</html>