<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictionary Game</title> 
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        #container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-bottom: 5px;
        }

        p {
            color: #666;
            margin-top: 0;
        }

        #avatarSelection {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        #avatarSelection2 {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .avatar-container {
            cursor: pointer;
        }
        .avatar-container:hover{
            border-color: #1500ff;
        }

        .avatar-input {
            display: none;
        }

        .avatar-label {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #000;
            transition: border 0.3s ease-in-out;
            position: relative;
        }

        .avatar-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .avatar-input:checked + .avatar-label {
            border-color: #4c4eaf; 
        }

        #userImageInput {
            margin-top: 20px;
        }

        #gameOptions {
            margin-top: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
        }

        button:hover {
            background-color: #4e45a0;
        }

        #nameInput, #gameModeSelect , #passwordInput{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        label {
        display: block;
        margin-bottom: 10px;
        border: 2px solid #000;
        padding: 10px;
        border-radius: 5px;
    }

    input[type="radio"] {
        display: none;
    }

    .playtype:hover{
            background-color: #c5e8b4;
        }
    
    input[type="radio"]:checked + label {
        background-color: #00ff00;
    }

    @media only screen and (max-width: 600px) {

    #container {
        margin: 20px auto;
        padding: 10px;
    }

    #avatarSelection, #avatarSelection2 {
        flex-direction: column;
    }

    .avatar-container {
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
    }

    #gameOptions {
        margin-top: 10px;
    }
}


    </style>
</head>
<body>
    <div id="container">
        <h1>Pictionary Game</h1>
        <p>Where imagination meets fun!</p>
        <% if(data === 1) {%>
            <form action="/directstart" method="post">
                <div style="text-align: left;"> Username : </div>
                <input type="text" id="nameInput" name="name" placeholder="Enter Your Usename" required>
            <% } else { %>
            <form action="/start" method="post" name="form" enctype="multipart/form-data">
            <div style="text-align: left;"> Username : </div>
            <input type="text" id="nameInput" name="name" placeholder="Enter Your Usename" oninput="checkuniq()" required>
            <% } %>
        <div id="uniqueornot" style="display: none; color: red; font-size: small; text-align: left; margin-top: 0; padding-bottom: 2px;"> User name is alredy in use</div>
        <div id="uniqueornot2" style="display: none; color: lightgreen; font-size: small; text-align: left; margin-top: 0; padding-bottom: 2px;"> User name is uniq</div>
        <div style="text-align: left;"> Password : </div>
        <input type="password" id="passwordInput" name="password" placeholder="Enter a password" required>


        <% if(data === 1) { %>
            <div id="avatarSelection" style="display: none;">
            <% } else { %>
                <div id="avatarSelection" display>
            <% } %>
            <label class="avatar-container" id ="lab1">
                <input type="radio" name="avatar" class="avatar-input" value="1" onchange="selectAvatar(1)" checked>
                <div> Avatar 1</div>
                <div class="avatar-label">
                    <img src="/images/avatar1.png" alt="Avatar 1" class="avatar-image">
                </div>
            </label>
            <label class="avatar-container" id="lab2">
                <input type="radio" name="avatar" class="avatar-input" value="2" onchange="selectAvatar(2)">
                <div> Avatar 2</div>
                <div class="avatar-label">
                    <img src="/images/avatar2.png" alt="Avatar 2" class="avatar-image">
                </div>
            </label>

            <label class="avatar-container" id ="lab3">
                <input type="radio" name="avatar" class="avatar-input" value="3" onchange="selectAvatar(3)">
                <div> Avatar 3</div>
                <div class="avatar-label">
                    <img src="/images/avatar2.png" alt="Avatar 2" class="avatar-image">
                </div>
            </label>
            
        </div>

        
        <% if(data === 1) { %>
            <div id="avatarSelection2" style="display: none;">
            <% } else { %>
                <div id="avatarSelection2" display>
            <% } %>
            <label class="avatar-container" id = "lab4">
                <input type="radio" name="avatar" class="avatar-input" value="4" onchange="selectAvatar(4)">
                <div> Avatar 4</div>
                <div class="avatar-label">
                    <img src="/images/avatar1.png" alt="Avatar 1" class="avatar-image">
                </div>
            </label>
            <label class="avatar-container" id = "lab5">
                <input type="radio" name="avatar" class="avatar-input" value="5" onchange="selectAvatar(5)">
                <div> Avatar 5</div>
                <div class="avatar-label">
                    <img src="/images/avatar2.png" alt="Avatar 2" class="avatar-image">
                </div>
            </label>
            <label for="userImageInput" class="avatar-container" id = "lab6">
                <input type="radio" name="avatar" class="avatar-input" value="6" onchange="selectAvatar(6)">
                <div>Upload</div>
                <div class="avatar-label" style="border: 3px solid #000;">
                    <input type="file" name="file" id="userImageInput" style="display: none" onchange="selectCustomAvatar(6)">
                    <img src="/images/upload.png" id = "abc" alt="Upload" class="avatar-image" title="Upload Custom Avatar">
                </div>
            </label>
        </div>

        <!-- <input type="radio"  name="gameMode" value="team" id="teamRadio"checked>
        <label for="teamRadio" class ="playtype" >Solo-Team Play</label>
    
        <input type="radio" name="gameMode" value="multi" id="multiRadio">
        <label for="multiRadio" class ="playtype" >Multi-Team Play</label> -->
        
        <% if(data === 1) { %>

            <div id="gameOptions">
                <button type="submit" >Start TO Play</button>
            </div>

            <% } else { %>
                    <div id="gameOptions">
                        <button onclick="submitForm(event)">Start TO Play</button>
                    </div>
                    <% } %>

        <a href="/register"> Register</a>
        <a href="/login"> Login</a>
    </form>
    </div>

    <script>

        var validationfails = true;


                function submitForm(event){
                    if(validationfails){
                        event.preventDefault();
                        alert('Username must be unique.');
                    return false;
                }
                else  {
                    let x = document.getElementById('nameInput').value;
                    let y = document.getElementById('passwordInput').value;

                    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

                    if(x === ''){
                        alert('Name must not to be a empty.')
                        event.preventDefault();
                        return false;
                    }
                    else if(y === ''){
                        alert('Password must not to be a empty.')
                        event.preventDefault();
                        return false;
                    }
                    else  if(passwordRegex.test(y)){

                                console.log("Password is valid");
                                document.form.submit();
                                return true;
                    }
                    else {
                                 console.log("Password is invalid");
                                 event.preventDefault();
                                 alert('Passowrd must contain one Upper case , one lower case , one digit and one special character and minimum lenght should be 8.');
                                 return false;
                        }
                }
                }

        function checkuniq(){

           let x = document.getElementById('nameInput').value;

        //    console.log(x);

           const url = '/checkuniq';
                const data = {
                    username : x,
                };

                fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if needed
                },
                body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                    if(data.sign === 0){

                        validationfails = true;

                        let y = document.getElementById('uniqueornot');

                        y.style.display = 'block';

                        let z = document.getElementById('uniqueornot2');

                        z.style.display = 'none';

                        

                    }else{

                        validationfails  = false;

                        let y = document.getElementById('uniqueornot');

                        y.style.display = 'none';

                        let z = document.getElementById('uniqueornot2');

                        z.style.display = 'block';

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });


        }

        let selectedAvatar = 1;
        document.getElementById("lab" + selectedAvatar).style.borderColor ="#00ff00"
        document.getElementsByName("avatar").value = selectedAvatar;

        function selectAvatar(avatarNumber) {
            document.getElementById("lab" + selectedAvatar).style.borderColor = "#000"
            selectedAvatar = avatarNumber;
            document.getElementById("lab" + avatarNumber).style.borderColor = "#00ff00"
            document.getElementsByName("avatar").value = avatarNumber;
        }

        function selectCustomAvatar(avatarNumber) {

                    const fi = document.getElementById('userImageInput');
                    const img = fi.value.split('.').pop().toLowerCase().toString();
                    var imageExts = ['jpg', 'jpeg', 'png'];
                    var maxSize = 1000 * 1024;
                    var fileSize = fi.files[0].size;
                    if (imageExts.indexOf(img) === -1) {
                    fi.value = null
                    if(selectedAvatar == 6) avatarNumber = 1;
                    else                     avatarNumber = selectAvatar;
                    document.getElementById("abc").src = "/images/upload.png";
                    alert('Only jpg/jpeg and png files are allowed!');
                    }
                    else if (fi.files.length > 0) {
                    console.log(img)
                    if (fileSize > maxSize) {
                        document.getElementById("abc").src = "/images/upload.png";
                        fi.value = null;
                        if(selectedAvatar === 6) avatarNumber = 1;
                         else avatarNumber = selectedAvatar;
                        alert('File size exceeds 1 MB Please choose a smaller file.');
                    }
                    else {
                        if (imageExts.indexOf(img) !== -1) {
                        var image = URL.createObjectURL(event.target.files[0]);

                        document.getElementById("abc").src = image;
                        }
                    }
                    }

            document.getElementById("lab" + selectedAvatar).style.borderColor = "#000"
            selectedAvatar = avatarNumber;
            console.log(document.getElementsByName("avatar").value);
            document.getElementById("lab" + avatarNumber).style.borderColor = "#00ff00"
            document.getElementsByName("avatar").value = avatarNumber;

        }

    </script>
</body>
</html>